<a href="https://colab.research.google.com/github/sysiphe0/exercise_ml/blob/main/min_max_scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### 참고(출처) : Carl's Tech Bolg (https://wotres.tistory.com/)

In [2]:
# min-max 정규화 : 최소값 0, 최대값 1로 하여 범위를 0~1로 변환
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
df = pd.DataFrame(data, columns=['a','b'])
colnames = df.columns

scaler = MinMaxScaler()
# min-max 값 학습
scaler.fit(df)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [3]:
# min-max scaling 수행
print(scaler.transform(df))
new_colnames = [i+'_mms' for i in colnames]
# dataframe으로 minmax scaling 된 것과 변환전 데이터 같이 나타내기
pd.concat([df, pd.DataFrame(scaler.fit_transform(df[colnames]), columns=new_colnames)], axis=1)

[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

     a   b  a_mms  b_mms
0 -1.0   2   0.00   0.00
1 -0.5   6   0.25   0.25
2  0.0  10   0.50   0.50
3  1.0  18   1.00   1.00