<a href="https://colab.research.google.com/github/sysiphe0/exercise_ml/blob/main/Robust_scaling_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### 참고(출처) : Carl's Tech Bolg (https://wotres.tistory.com/)

In [2]:
# Robust scaling은 중앙값 0, Q3-Q1인 IQR이 1이 되도록 변환하는 방법 (아웃라이어의 영향을 최소화)
import pandas as pd
from sklearn.preprocessing import RobustScaler

data = [[1., -2., 2.], [-2., 1., 3.], [4., 1., -2.]]
df = pd.DataFrame(data, columns=['a','b','c'])
colnames = df.columns

In [4]:
scaler = RobustScaler()
scaler.fit(df)
# Robust scaling
print(scaler.transform(df))

[[ 0.  -2.   0. ]
 [-1.   0.   0.4]
 [ 1.   0.  -1.6]]

In [5]:
# 원래 데이터의 중앙값, IQR
print('median : ', scaler.center_)
print('IQR : ', scaler.scale_)
new_colnames = [i+'_rs' for i in colnames]
pd.concat([df, pd.DataFrame(scaler.fit_transform(df[colnames]), columns=new_colnames)], axis=1)

median :  [1. 1. 2.]
IQR :  [3.  1.5 2.5]

     a    b    c  a_rs  b_rs  c_rs
0  1.0 -2.0  2.0   0.0  -2.0   0.0
1 -2.0  1.0  3.0  -1.0   0.0   0.4
2  4.0  1.0 -2.0   1.0   0.0  -1.6