<a href="https://colab.research.google.com/github/sysiphe0/exercise_ml/blob/main/StandardScaler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### 참고(출처) : Carl's Tech Bolg (https://wotres.tistory.com/)

In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

data = [[0,0], [0,0], [1,1], [1,1]]
df = pd.DataFrame(data, columns=['a','b'])
colnames = df.columns

scaler = StandardScaler()
scaler.fit(df)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [5]:
# Standard(z-score) scaling 수행 결과
print(scaler.transform(df))

[[-1. -1.]
 [-1. -1.]
 [ 1.  1.]
 [ 1.  1.]]

In [14]:
# 원래 데이터의 평균, 분산
print('원래 평균 : ', scaler.mean_)
print('원래 분산 : ', scaler.var_)
# 변환된 데이터의 평균, 분산
print('변환 평균 : ', scaler.transform(df).mean())
print('변환 분산 : ', scaler.transform(df).var())

원래 평균 :  [0.5 0.5]
원래 분산 :  [0.25 0.25]
변환 평균 :  0.0
변환 분산 :  1.0

In [15]:
# Standard(z-score) 스케일링 한 데이터와 변형전 데이터 합친 dataframe
new_colnames = [i + '_sc' for i in colnames]
pd.concat([df, pd.DataFrame(scaler.fit_transform(df[colnames]), columns=new_colnames)], axis = 1)

   a  b  a_sc  b_sc
0  0  0  -1.0  -1.0
1  0  0  -1.0  -1.0
2  1  1   1.0   1.0
3  1  1   1.0   1.0