<a href="https://colab.research.google.com/github/sysiphe0/exercise_ml/blob/main/VIF_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### 참고(출처) : Carl's Tech Bolg (https://wotres.tistory.com/)

In [ ]:
from statsmodels.api import OLS, add_constant
from sklearn import datasets
from sklearn.model_selection import train_test_split
import pandas as pd
datas = datasets.load_diabetes()

df = pd.DataFrame(datas.data, columns = datas.feature_names)
y = pd.DataFrame(datas.target, columns=['y'])
df = pd.concat([df, y], axis=1)
train, test = train_test_split(df, test_size=0.3, random_state=123)

In [ ]:
train_x = add_constant(train)

In [ ]:
model = OLS(train.y, train_x.drop(columns='y')).fit()

In [ ]:
test_x = add_constant(test)

In [ ]:
pred = model.predict(test_x.drop(columns='y'))

In [ ]:
from sklearn.metrics import mean_squared_error
print('제거전 : ', mean_squared_error(test.y, pred))
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif['feature'] = train_x.drop(columns='y').columns
vif['VIF Factor'] = [variance_inflation_factor(train_x.drop(columns='y').values, i) for i in range(train_x.drop(columns='y').shape[1])]

제거전 :  2926.800577246884

In [ ]:
# vif 확인 후 다중공선성 높게 나타난 변수 제거 drop
print(vif)

   feature  VIF Factor
0    const    1.005335
1      age    1.197504
2      sex    1.286974
3      bmi    1.529922
4       bp    1.424025
5       s1   58.778888
6       s2   39.250774
7       s3   14.104281
8       s4    9.294533
9       s5    9.887398
10      s6    1.537123

In [ ]:
train_x = train_x.drop(columns=['s1'])

In [ ]:
train_x

     const       age       sex       bmi  ...        s4        s5        s6      y
374    1.0 -0.107226 -0.044642 -0.034229  ... -0.039493 -0.000609 -0.079778  140.0
420    1.0  0.023546 -0.044642 -0.036385  ...  0.034309 -0.033249  0.061054  146.0
204    1.0  0.110727  0.050680  0.006728  ...  0.034309  0.002008  0.077622  277.0
263    1.0 -0.074533  0.050680 -0.077342  ... -0.039493 -0.072128 -0.017646  116.0
285    1.0  0.012648 -0.044642 -0.020218  ...  0.108111  0.059881 -0.021788  233.0
..     ...       ...       ...       ...  ...       ...       ...       ...    ...
230    1.0 -0.038207  0.050680  0.071397  ...  0.071948  0.050276  0.069338  220.0
98     1.0  0.001751  0.050680 -0.005128  ... -0.039493 -0.006080 -0.067351   92.0
322    1.0  0.023546  0.050680  0.061696  ...  0.155345  0.133396  0.081764  242.0
382    1.0  0.048974 -0.044642  0.060618  ... -0.002592  0.104138  0.036201  132.0
365    1.0  0.034443 -0.044642 -0.038540  ... -0.002592  0.031193  0.098333  206.0

[309 rows x 11 columns]

In [ ]:
vif = pd.DataFrame()
vif['feature'] = train_x.drop(columns='y').columns
vif['VIF Factor'] = [variance_inflation_factor(train_x.drop(columns='y').values, i) for i in range(train_x.drop(columns='y').shape[1])]

In [ ]:
# vif 확인 후 다중공선성 높게 나타난 변수 제거 drop
print('제거후')
print(vif)

제거후
  feature  VIF Factor
0   const    1.005335
1     age    1.196224
2     sex    1.282946
3     bmi    1.516272
4      bp    1.417268
5      s2    3.052908
6      s3    3.858518
7      s4    8.467318
8      s5    2.350765
9      s6    1.537046

In [ ]:
# 제거한 후 학습
test_x = test_x.drop(columns=['s1'])

In [ ]:
test_x.head()

     const       age       sex       bmi  ...        s4        s5        s6      y
13     1.0  0.005383  0.050680 -0.001895  ... -0.002592  0.038393 -0.013504  185.0
66     1.0 -0.009147  0.050680 -0.018062  ...  0.071210  0.000271  0.019633  150.0
234    1.0  0.045341 -0.044642  0.039062  ... -0.012556  0.064328  0.056912  246.0
24     1.0 -0.063635 -0.044642  0.035829  ... -0.002592 -0.025952 -0.054925  184.0
388    1.0  0.052606  0.050680 -0.024529  ... -0.002592  0.026714 -0.038357  110.0

[5 rows x 11 columns]

In [ ]:
model = OLS(train.y, train_x.drop(columns='y')).fit()
pred = model.predict(test_x.drop(columns='y'))
print('제거후 : ', mean_squared_error(test.y, pred))

제거후 :  2940.1669788600166